body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* Noted that 16px = 100% = 1em(M) */

h1 {
    font-size: 5.625em;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.web {
    text-decoration: underline;
}

/* Start top container components */
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 180px;
}

.top-cloud-one {
    position: absolute;
    top: 50px;
    right: 200px;
}

.top-cloud-two {
    position: absolute;
    top: 400px;
    right: 100px;
}

.top-cloud-three {
    position: absolute;
    top: 200px;
    left: 100px;
}

.bottom-cloud {
    position: absolute;
    bottom: 250px; 
    left: 250px;
}
/* End top container components */

/* Start middle container components */
.middle-container {
    margin-top: 0px;
    background-color: #f7f7f7;
}

.cv-pp {
    width: 200px;
    height: 200px;
}

.programming-vector, .camera-vector, .report-vector{
    width: 100px;
    height: 100px;
}
/* End middle container components */

/* Start bottom container components */
.bottom-container {
    background-color: #f7f7f7;
}
/* End bottom container components */